<header>
  <div id="pictures"><%= link_to my_pic('me1.jpg'), about_path %><span style="font-size: 50px">+</span> <%= image_tag 'question.png', alt:'Company logo', title: 'Your company', class: 'frame_picture', id: 'company_pic' %></div>
  <nav class="rounded">
    <ul>
      <li> <%= link_to 'Home', root_path,class: 'active' %> </li>
      <li> <%= link_to 'About Me', about_path %> </li>
      <li> <%= link_to 'Why this Website?', why_path %> </li>
      <li> <%= link_to 'Challenges', challenges_path %> </li>
      <li> <%= link_to 'Contact', contact_path %> </li>
    </ul>
  </nav>
</header>